@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news{
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.blogs.es/e1852a/code/1366_2000.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}